.badge {
  width: fit-content;
  height: fit-content;
  padding: 7px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 20px;
  background-color: #313131;
  color: white;
  font-size: 12px;
}
