.link {
  margin-right: 10px;
  color: brown;
  font-weight: 600;
  font-size: large;
  text-decoration: none;
}

.nav-link {
  margin-right: 10px;
  color: rgb(3, 3, 67);
  font-weight: 600;
  text-decoration: underline;
}

.header-box {
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-alignment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title {
  margin: 10px;
  font-size: larger;
  color: black;
  font-weight: 700;
  text-decoration: none;
}
