.link {
  width: fit-content;
  height: fit-content;
  background-color: bisque;
  padding: 10px;
  margin-right: 60px;
  border-radius: 8px;
  color: brown;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.nav-link {
  width: fit-content;
  height: fit-content;
  background-color: rgb(143, 167, 189);
  margin-right: 60px;
  color: rgb(3, 3, 67);
  font-weight: 600;
}

.header-box {
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #313131;
}

.header-alignment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  color: hsl(0, 0%, 94%);
  margin: 10px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
