.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 35px;
}

.card {
  width: 180px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.title {
  font-size: 14px;
}

.core-title {
  font-weight: 500;
  margin-left: 70px;
  margin-top: 40px;
}

.form {
  margin-top: 20px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
}

.search-filter-col {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  width: 180px;
}

.select {
  height: 35px;
  width: 180px;
}

.filter {
  margin-left: 50px;
}

.search-filter-title {
  font-size: 14px;
  font-weight: 600;
}

.format-section {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.button-section {
  margin-top: 50px;
}

.button-card {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.button-list {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.active-button {
  background-color: rgb(239, 166, 124);
  border-color: rgb(250, 71, 40);
}
