.container {
  display: flex;
}

.container-image {
  flex-grow: 2;
  margin: 10px;
}

.container-property {
  flex-grow: 8;
  margin: 10px;
}

.button-favorite {
  background-color: #fd6060;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-weight: bolder;
}

.button-remove {
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-weight: bolder;
}
