.container {
  display: flex;
}

.container-column {
  flex-direction: column;
}

.container-image {
  flex-grow: 2;
  height: fit-content;
  width: fit-content;
}

.container-banner {
  width: 100%;
}

.container-property {
  flex-grow: 8;
  margin: 10px;
}

.container-iframe {
  width: 550px;
  height: 350px;
}

.container-characters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card-character-row {
  display: flex;
  flex-direction: row;
  width: 45%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.card-character-col {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.character-image {
  width: 50px;
  height: fit-content;
}

.character-p {
  font-size: 12px;
}

.button-favorite {
  background-color: #fd6060;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-weight: 700;
}

.button-remove {
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-weight: 700;
}

.paragraph {
  font-size: 14px;
}

.link {
  color: rgb(84, 90, 91);
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
