.container {
  display: flex;
}

.container-column {
  flex-direction: column;
}

.container-image {
  flex-grow: 2;
  margin: 10px;
  height: fit-content;
  width: fit-content;
}

.container-banner {
  margin: 10px;
  width: 100%;
}

.container-property {
  flex-grow: 8;
  margin: 10px;
}

.container-iframe {
  width: 550px;
  height: 350px;
}

.container-info {
  width: 200px;
}

.button-favorite {
  background-color: #fd6060;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-weight: 700;
}

.button-remove {
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-weight: 700;
}
