.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 180px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.image {
  width: 180px;
}

.empty-anime {
  text-align: center;
  font-weight: 400;
}
