.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 180px;
  margin: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.form {
  margin-top: 40px;
  margin-left: 60px;
}

.input {
  height: 30px;
}

.select {
  height: 30px;
  margin-left: 20px;
}

.title {
  font-size: 14px;
}
