.section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}

h3 {
  font-weight: 500;
}

.section-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  margin-top: 17px;
  color: rgb(95, 102, 103);
  font-weight: 600;
}

.search-filter-col {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.filter {
  margin-left: 50px;
}

.search-filter-title {
  font-size: 14px;
  font-weight: 600;
}

.search-filter-section {
  display: flex;
  flex-direction: row;
}

.select {
  height: 35px;
  width: 180px;
}
