.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 230px;
  margin: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.form {
  margin-top: 40px;
  margin-left: 100px;
}

.input {
  height: 30px;
}
